<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="kr.ac.deu.cse.scheduler" level="WARN" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <springProfile name="development | test">
    <logger name="kr.ac.deu.cse.scheduler" level="TRACE" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
  </springProfile>

</configuration>
